extends includes/head
block content
	div#add_user
		form(method="post", id="newLend") 
			| Utlånad till 
			br
			input#nameOfUser(name="nameOfUser", type="text")
			br
			input(id="compID", name="compID", type="hidden")
			input(type="submit", value="spara")  
	div#body
		table#rounded-corner
			tr
				thead
					th.maxleft Namn
					th Model
					th Serienr.
					th Tillverkare
					th Kommentar
					th.maxright
			each val, key in comps
				tr(id=key).trtoggle
					td #{val.cName}
					td #{val.cModel}
					td #{val.cSerial}
					td #{val.cMan}
					td #{val.cComment}
					td(style="width: 60px;")
						div(id="b_" + val._id).button Låna ut
				tr
					td(colspan=6, style="height: 0px; padding: 0px; border: 0px; background: #ececec;").hiddenTD
						div(id="t_" + key, style="display: none;")
							table.subTable
								tr
									td
									td 
										b Utlånad till
									td
										b Utlånad
									td
								each v in val.cUser
									tr
										td &nbsp;
										td #{v.Name}
										td #{v.CreateDate}
										td
											if v.ReturnDate == null
												input(type="button", id="" + v._id + "", value="Åter").returnButton
	include includes/foot