extends includes/head
block content
	div#add_user
		form(method="post", id="newLend") 
			| Namn 
			input#nameOfUser(name="nameOfUser")
			input(id="compID", name="compID", type="text")
			input(type="submit", value="spara")  
	div#body
		table#rounded-corner
			tr
				thead
					th.maxleft Namn
					th Model
					th Serienr.
					th Tillverkare
					th Kommentar
					th.maxright
			each val, key in comps
				tr(id=key).trtoggle
					td #{val.cName}
					td #{val.cModel}
					td #{val.cSerial}
					td #{val.cMan}
					td #{val.cComment}
					td(style="width: 60px;")
						div(id="b_" + val._id).button Låna ut
				tr
					td(colspan=6, style="height: 0px; padding: 0px; border: 0px; background: #ececec;").hiddenTD
						div(id="t_" + key, style="display: none;")
							table(style="border: solid 0px;")
								tr
									td
										"hej test"
	include includes/foot